/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/* 
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;		
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

/*	Generally, you will only want one container element in
	the document, wrapping around the main content area. 
	If you have more than one container, you are probably doing
	something wrong. 	
*/
.container {
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width: 1200px;
	padding: 2em;
	border: 5px solid #eee;
	background-color: #FFF8E0;
}

h1 {
	font-size: 4em;
	font-family: 'Italianno', cursive;
	text-align: center;
}

h2 {
	font-family: 'Italiana', serif;
	font-size: 1.2em;
	font-style: italic;
	line-height: 0.2em;
	color: grey;
}

h3 {
	font-family: 'Italiana', serif;
	font-size: 1.5em;
	font-style: bold;
	text-transform: uppercase;
	line-height: .6em;
}

p {
	font-family: 'Italiana', serif;
	font-weight: bold;
	margin-top: 3em;
	margin-right: 0;
	margin-bottom: 0.5em;
	margin-left: 0;
	padding: 1em;
	padding-bottom: 2em;
	border-top: 15px dashed #B83113;
	border-left: 10px dotted #6B2E0E;
	background: #FFF276;
}

ul {
	padding-left: 2rem;
  	list-style-type: none;
  	font-weight: bold;
}

ul li {
	font-family: 'Italiana', serif;
  	padding-left: 2rem;
  	background-image: url(https://vignette.wikia.nocookie.net/petpedia/images/e/e6/Giant_meatball.png/revision/latest?cb=20110318225749);
  	background-position: 0 0;
  	background-size: 1.6rem 1.6rem;
  	background-repeat: no-repeat;

}